img {
    width: 300px;
}
body {
    text-align: center;
    text-shadow: rgb(125,125,125);
    font-size: 25;
    color: rgb(252,185,65);
    font-family: "Arial";
    background-color: rgb(0,0,0);
    background-size:100%;
    
}
<<<<<<< HEAD
script{
    display: inherit;
    height: 500px;
    width: 500px;
    
    
    
}
=======

>>>>>>> 717f2f1f517250494e461d2eb0b1a3ce5344ac5c
